.principles {
  padding-top: 60px;
  padding-bottom: 60px;

  &-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #212121;
  }

  &-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

.principles-list-icon {
  width: 70px;
  height: 70px;

  &-wrapper {
    text-align: center;
    background-color: #f5f4fa;
    border-radius: 4px;
    padding: 25px 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .principles-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .principles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-item {
      flex-basis: calc(100% / 2 - 30px);
      min-width: 354px;
    }
  }
}

.principles-name {
  text-align: start;
}

@media screen and (min-width: 1200px) {
  .principles {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .principles-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &-item:nth-child(4n) {
      margin-right: 0;
    }
    &-item {
      margin-right: 30px;
      flex-basis: calc(100% / 4 - 30px);
      min-width: 270px;
    }
  }
}
